
			<div class="row">
				<main class="col-md-12">
				</br>
                    <h4>Welcome to my website, I will be demonstrating HTML5 principles and techniques, Routing in Express</h4>
				</br>

					<!-- Start your code here -->
					<h5>Summary of the Page</h5>
					<p>This site consists of 3 static views (<a href="/">Home</a>, <a href="/about">About</a>, <a href="/htmlDemo">HTML Demo</a>) as well as 5 routes that supply data , including: 
						<a href="/students">All Students</a>, <a href="/students?course=4">Students by Course</a>, <a href="/students/5">A Single Student By Student Number</a>,
						<a href="/tas">All Managers</a> and <a href="/courses">All Courses</a>.</p>
					</br></br>
					<h5>HTML 5</h5>	
					<p>This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web.</p>
					<!-- End your code here  -->



				</main>
			</div>
