 <div class="row">
            <main class="col-md-12">

                <!-- Start your code here -->
                </br>
                <div>
                    <h1>HTML Demo</h1>

                    <table class="zigzag">
                        <thead>
                            <tr>
                                <th class="header">First Name</th>
                                <th class="header">Last Name</th>
                                <th class="header">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Si Thu</td>
                                <td>Htut</td>
                                <td>sthtut@myseneca.ca</td>
                            </tr>
                            <tr>
                                <td>Bobby</td>
                                <td>Charlton</td>
                                <td>bobby@myseneca.ca</td>

                            </tr>
                            <tr>
                                <td>Gary</td>
                                <td>Lineker</td>
                                <td>Gary@myseneca.ca</td>
                            </tr>
                            <tr>
                                <td>Jimmy </td>
                                <td>Greaves</td>
                                <td>jimmy@myseneca.ca</td>
                            </tr>
                            <tr>
                                <td>Michael</td>
                                <td>Own</td>
                                <td>micheal@mysenca.ca</td>
                            </tr>
                            <tr>
                                <td>Alan</td>
                                <td>Shearer</td>
                                <td>alan@myseneca.ca</td>
                            </tr>
                            <tr>
                                <td>Tom </td>
                                <td>Finney</td>
                                <td>tom@myseneca.ca</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- End your code here  -->



            </main>
        </div>