<!DOCTYPE html>
<html>

<head>
	<title>WEB700</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Student Name</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
				<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
				<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
				<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<main class="col-md-12">

				<!-- Start your code here -->
				</br>
				<div>
					<h2>Table Section</h2></br>
					<table border="1">
						<caption style="text-align:center;caption-side: top;">
							<h4>Useful Website Links</h4>
						</caption>
						<thead>
							<tr>
								<th>Webiste Name</th>
								<th>Websie Link</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Google</td>
								<td><a href="https://www.google.com">https://www.google.com</a>/</td>
								<td rowspan="2">Technology Websites</td>
							</tr>
							<tr>
								<td>Microsoft</td>
								<td><a href="https://www.microsoft.com">https://www.microsoft.com</a>/</td>

							</tr>
							<tr>
								<td>Seneca College</td>
								<td><a href="https://www.senecacollege.ca">https://www.senecacollege.ca</a>/</td>
								<td>College Website</td>
							</tr>
							<tr>
								<td>No. of Website</td>
								<td>3 Links</td>
								<td><a href="/">Back to Home Page</a></td>
							</tr>
							<tr>
								<td colspan="3">These websites are very useful.</td>
							</tr>
						</tbody>
					</table></br>
					<table border="1">
						<caption style="text-align:center;caption-side: top;">
							<h4>Country Flags</h4>
						</caption>
						<thead>
							<tr>
								<th>Countries</th>
								<th>Flag</th>
								<th>Continent</th>
							</tr>
						</thead>
						<tbody>
							<tr>

								<td>France</td>
								<td><img class="logo" src="/images/france.jpg"></td>
								<td>Europe</td>
							</tr>
							<tr>
								<td>USA</td>
								<td><img class="logo" src="/images/usa.jpg"></td>
								<td rowspan="2">North America</td>
							</tr>
							<tr>
								<td>Canada</td>
								<td><img class="logo" src="/images/canada.png"></td>

							</tr>
							<tr>
								<td>No. of flag</td>
								<td>3 flag</td>
								<td><a href="/">Back to Home Page</a></td>
							</tr>
							<tr>
								<td colspan="3">This table shows the flags of 3 Country.</td>
							</tr>
						</tbody>
					</table>
					</br>
					<p>There are 2 tables: first table shows the useful websites and their links. Second table shows the
						country name with their flag and contient.</p>
				</div>
				<div>
					<h2>List Section</h2></br>
					<h4>An Unordered HTML List</h4>

					<ul>
						<li>Cheese</li>
						<li>Burger</li>
						<li>Pizza</li>
						<li>Chips</li>
						<li>Coke</li>
					</ul>

					<h4>An Ordered HTML List</h4>

					<ol>
						<li>Calgary</li>
						<li>Montreal</li>
						<li>Toronto</li>
						<li>Vancouver</li>
						<li>Winnipeg</li>
					</ol>
					<p>The first unordered list displays the shopping items in the cart. The second order html list
						displays big cities of Canada.</p>
				</div>
				<div>
					<h2>Audio Section</h2></br>
					<audio controls
						src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3">

					</audio>
					<audio controls
						src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg ">

					</audio>
					<p>This section is used to embed sound content in documents</p>
				</div>
				<div>
					<h2>Video Section</h2>
					<video width="320" height="240" controls>
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4"
							type="video/mp4">

						Your browser does not support the video tag.
					</video>
					</br>
					<video width="320" height="240" control>
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg"
							type="video/ogg">

						Your browser does not support the video tag.
					</video>
					</br>
					<video width="320" height="240" controls>
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm"
							type="video/webm">
						Your browser does not support the video tag.
					</video>
					<p>In this section, the HTML video element is used to show a video on a web page.</p>
				</div>
				<!-- End your code here  -->



			</main>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>